@import 'bootstrap';

.dark-square {
  background-color: cornflowerblue;
}

#chessboard {
  width: 100%;
  td, th {
    width: 10%;
  }
  td {
    padding-bottom: 10%;
  }
  th {
    vertical-align: middle;
    text-align: center;
  }
  tbody {
    tr:nth-child(even) {
      td:nth-child(even) {
        @extend .dark-square
      }
    }
    tr:nth-child(odd) {
      td:nth-child(odd){
        @extend .dark-square
      }
    }
  }

  .piece {
    position: relative;
    top: 2px;
  }
  .piece:before {
    position: absolute;
    display: block;
    text-align: center;
    font-size: 6vw;
    top: 0; left: 0; right: 0; bottom: 0;
  }

  .black.king:before {
    content: '\265a';
  }
  .black.queen:before {
    content: '\265b';
  }
  .black.rook:before {
    content: '\265c';
  }
  .black.bishop:before {
    content: '\265d';
  }
  .black.knight:before {
    content: '\265e';
  }
  .black.pawn:before {
    content: '\265f';
  }

  .white.king:before {
    content: '\2654';
  }
  .white.queen:before {
    content: '\2655';
  }
  .white.rook:before {
    content: '\2656';
  }
  .white.bishop:before {
    content: '\2657';
  }
  .white.knight:before {
    content: '\2658';
  }
  .white.pawn:before {
    content: '\2659';
  }
}

#controls {
    @extend .button-group;
    @extend .text-center;

    a {
        @extend .btn;
    }
}
